<form class="d-flex" role="search">
    <input id="search" name="search" class="form-control"  [(ngModel)]="SearchInput">
    <button class="btn btn-outline-success" type="submit" (click)="Search()" (keydown.enter)="Search()" >Search</button>
  </form>
<div *ngIf="events.length==0 && !loading">
    <h2>No Events found</h2>
</div>
<div class="row" *ngIf="events.length!=0">
    
    <div *ngFor="let event of events" class="col-lg-2 col-md-3 col-sm-6">
        <app-event-card [event]="event" (editClicked)="onEditClicked($event)" (deleteClicked)="onDeleteClicked($event)" (approveClicked)="onApproveClicked($event)"  ></app-event-card>
    </div>
</div>
<div *ngIf="loading" class="loader">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
</div>
<!-- Event Edit Modal -->
<app-event-edit-modal
  *ngIf="editClicked"
  [event]="selectedEvent"
  (saveChanges)="updateEvent($event)"
  (close)="closeModal()"
></app-event-edit-modal>