<div class="Register">
    <form [formGroup]="registerForm">

        <div data-mdb-input-init class="form-outline mb-4 form-group">
          <input type="text" 
          [ngClass]="{'is-invalid':registerForm.get('username')?.errors && registerForm.get('username')?.touched}"
           class="form-control " 
          formControlName="username"
           placeholder="Username" >
          <div class="invalid-feedback">Please enter your username</div>
        </div>

        <div data-mdb-input-init class="form-outline mb-4 form-group">
          <input type="email"  [ngClass]="{'is-invalid':registerForm.get('email')?.errors && registerForm.get('email')?.touched}"
          class="form-control " 
         formControlName="email"
          placeholder="Email" >
         <div class="invalid-feedback">Please enter your email</div>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text"  [ngClass]="{'is-invalid':registerForm.get('age')?.errors && registerForm.get('age')?.touched}"
          class="form-control " 
         formControlName="age"
          placeholder="Age" />
        </div>
        <div class="form-outline mb-4 form-group" >
          <label class="control-label" style="margin-right:10px">Gender : </label>
          <label class="radio-inline">
            <input  style="margin-right: 3px;" type="radio" value="male" formControlName="gender">Male
          </label>
          <label class="radio-inline ml-10 form-group" style="margin-left: 10px;">
            <input style="margin-right: 3px;" type="radio" value="female" formControlName="gender">Female
          </label>
        </div>
        <div data-mdb-input-init class="form-outline mb-4 form-group">
          <input type="password" 
          [ngClass]="{'is-invalid':registerForm.get('password')?.errors && registerForm.get('password')?.touched}"
           class="form-control" 
           formControlName="password" placeholder="Password"  >
           <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
            Password is required</div>
            <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
             password should be at least 6 characters</div>
             <label>passwords must contain an uppercase character[A-Z],<br> lowercase character[a-z], a digit[0,9],<br> and a non-alphanumeric character[#$].</label>
        </div>
        <div data-mdb-input-init class="form-outline mb-4 form-group">
          <input type="password" 
      [ngClass]="{'is-invalid':registerForm.get('confirmPassword')?.errors 
      && registerForm.get('confirmPassword')?.touched
      || registerForm?.hasError('mismatch')
     && registerForm.get('confirmPassword')?.touched}"
      class="form-control"
       formControlName="confirmPassword"
        placeholder="confirm Password"  >
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('confirmPassword') && registerForm.get('password')?.touched">
        Password is required</div>
        <div class="invalid-feedback" *ngIf=" registerForm?.hasError('mismatch') && registerForm.get('confirmPassword')?.touched">
          Passwords must match</div>
 
        </div>
    
        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3">Sign in</button>
        <button type="cancel" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3" style="margin-left: 250px;" (click)="Cancel()">Cancel</button>
      </form>
</div>
