<div class="event-card">
    <div class="event-card-header">
        <h2>{{event.eventName}}</h2>
        
    </div>
    <div class="event-image">
        <img src="{{event.photoUrl}}" alt="{{event.eventName}}">
    </div>
    <div class="event-description">
        <p>{{event.description}}</p>
        <div class="organizer">
            <span>Organized by:</span>
            <p>event.organizer</p>
        </div>
    </div>
    <div class="event-date">
        <p>Date: {{event.date | date:'yyyy-MM-dd'}}</p>
    </div>
    <div class="event-actions">
        <button class="btn btn-primary">Pay</button>
    </div>
</div>
